---
---
@charset "utf-8";

@import "typography";
@import "buttons";
@import "infobars";

@import "header";
@import "footer";

@import "apps";
@import "home";

:root {
  color-scheme: light dark;
  --bg: #fff;
  --fg: #333;
  --accent: #7239b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #3b3f45;
    --fg: #d4d4d4;
    --accent: #a56de2;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: $ui-font;
  background-color: var(--bg);
  color: var(--fg);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.constrain {
  max-width: 800px;
  margin: 0 auto;
}

.main {
  padding: 2em 1em;
}
