---
---
@charset "utf-8";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Droid Sans", sans-serif;
  background-color: #fff;
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.constrain {
  max-width: 800px;
  margin: 0 auto;
}

.screenshots img {
  display: block;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

header h1 {
  display: inline;
  margin-top: 0;
  vertical-align: middle;
}

header {
  background-color: #485a6c;
  background-image: linear-gradient(
    to bottom right, 
    rgba(255, 255, 255, 0.05), 
    rgba(0, 0, 0, 0.05)
  );
  color: #fff;
  padding: 1em;
}

header img {
  vertical-align: middle;
  width: 64px;
}

a {
  color: inherit;
}

section.description {
  padding: 0 1em;
}

