---
---
@charset "utf-8";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Droid Sans", sans-serif;
  background-color: #fff;
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.constrain {
  max-width: 800px;
  margin: 0 auto;
}

.home .app {
  margin: 1em 0.5em;
  text-align: center;
  vertical-align: top;
  width: 128px;
}

.home .app img {
  display: block;
  margin: 0 auto 0.5em;
  width: 64px;
}

.main {
  padding: 2em 1em;
}

.screenshots {
  background: #eee;
}

.screenshots img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: #485a6c;
  background-image: linear-gradient(
    to bottom right, 
    rgba(255, 255, 255, 0.05), 
    rgba(0, 0, 0, 0.05)
  );
  color: #fff;
  padding: 1em;
}

header img {
  vertical-align: middle;
  width: 64px;
}

header h1 {
  display: inline;
  margin-left: 0.25em;
  margin-top: 0;
  vertical-align: middle;
}

header p {
  display: inline;
  margin-left: 0.5em;
  vertical-align: sub;
}

header p::before {
  display: inline;
  content: "by ";
}

a {
  border-radius: 0.25em;
  color: inherit;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

footer {
  text-align: right;
  padding: 2em 0;
}

