<div class="appstream hidden">
  <h3>Opening in AppCenter…</h3>
  <p>This app is available in AppCenter, the open, pay-what-you-want app store for elementary OS. You can safely hit back or close this tab.</p>
  <p>Not on elementary OS? <a href="https://elementary.io">Download it now</a>, or <a id="close" href="#">view the app listing</a>.</p>
</div>

<div class="backdrop hidden"></div>

<script>
  var userAgent = navigator.userAgent.toLowerCase();
  var isLinux = (userAgent.indexOf('linux') !== -1 || userAgent.indexOf('elementary') !== -1);
  var isAndroid = (userAgent.indexOf('android') !== -1);
  if (isLinux && isAndroid === false) {
    document.querySelector('header').classList.add('blur');
    document.querySelector('.main').classList.add('blur');
    document.querySelector('footer').classList.add('blur');
    document.querySelector('.appstream').classList.remove('hidden');
    document.querySelector('.backdrop').classList.remove('hidden');
    setTimeout(function(){
      // Attempt to allow images to load before bailing to appstream://
      window.location = 'appstream://{{page.slug}}.desktop';
    }, 250);
  } else {

  }

  document.querySelector('#close').addEventListener("click", function(e){
    document.querySelector('header').classList.remove('blur');
    document.querySelector('.main').classList.remove('blur');
    document.querySelector('footer').classList.remove('blur');
    document.querySelector('.appstream').classList.add('hidden');
    document.querySelector('.backdrop').classList.add('hidden');
    e.preventDefault ();
  });
</script>
