<div class="dialog hidden">
  <div class="content">
    <h3>Open in AppCenter</h3>
    <p>You can view and install this app from AppCenter on elementary OS, or you can preview the listing here.</p>
    {% include loki.html %}
  </div>
  <div class="action">
    <a class="button incidental" id="never" href="#">Not on elementary OS</a>
    <a class="button" id="close" href="#">Preview App Listing</a>
    <a class="button suggested" href="appstream://{{page.app_id}}">Open in AppCenter</a>
  </div>
</div>

<div class="backdrop hidden"></div>

<script>
  function ready (fn) {
    if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
      fn();
    } else {
      document.addEventListener ('DOMContentLoaded', fn);
    }
  }

  ready(function () {
    var userAgent = navigator.userAgent.toLowerCase();
    var isLinux = (userAgent.indexOf('linux') !== -1 || userAgent.indexOf('elementary') !== -1);
    var isAndroid = (userAgent.indexOf('android') !== -1);
    var isFedora = (userAgent.indexOf('fedora') !== -1);

    if (
      window.localStorage.remember !== "true" &&
      isLinux &&
      isAndroid === false &&
      isFedora === false
    ) {
      document.querySelector('header').classList.add('blur');
      document.querySelector('.main').classList.add('blur');
      document.querySelector('footer').classList.add('blur');
      document.querySelector('.dialog').classList.remove('hidden');
      document.querySelector('.backdrop').classList.remove('hidden');
    }

    document.querySelector('#close').addEventListener("click", function(e){
      close (false);
      e.preventDefault ();
    });

    document.querySelector('#never').addEventListener("click", function(e){
      close (true);
      e.preventDefault ();
    });
  });

  function close(remember) {
    document.querySelector('header').classList.remove('blur');
    document.querySelector('.main').classList.remove('blur');
    document.querySelector('footer').classList.remove('blur');
    document.querySelector('.dialog').classList.add('hidden');
    document.querySelector('.backdrop').classList.add('hidden');

    console.log (remember);

    if (remember) {
      window.localStorage.remember = true;
    }
  }
</script>

