<section class="screenshots constrain">
  <div class="carousel">
    {% for screenshot in page.screenshots %}
      <div>
        <img alt="Screenshot" src="{{screenshot}}" />
      </div>
    {% endfor %}
  </div>
</section>

{% if page.screenshots[1] %}
  {% comment %}
    Only load JS and show screenshots pager if more than one screenshot exists.
  {% endcomment %}
  
  <div class="pager" style="display:none">
    {% for screenshot in page.screenshots %}
    <span>&nbsp;</span>
    {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
  <script type="text/javascript">
    // Show nav if Js is supported
    document.querySelector(".pager").style.display = "";
    tns({
      speed: 350,
      container: '.carousel',
      autoplay: true,
      autoplayHoverPause: true,
      autoplayButtonOutput: false,
      autoplayTimeout: 10000,
      controls: false,
      navContainer: ".pager"
    });
  </script>  
{% endif %}
