.screenshots {
  background-color: rgba(150, 150, 150, 0.125);
}

.screenshots img {
  display: block;
  max-width: 100%;
  max-height: 450px;
  margin: 0 auto;
}

.pager {
  display:flex;
  justify-content: center;
  padding: 12px 0;

  span {
    display: block;
    width: 0.75em;
    height: 0.75em;
    background: #666;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    opacity: 0.5;

    &:active,
    &:focus {
      outline: 0;
      border: none;
    }
  }

  .tns-nav-active {
    opacity: 1;
  }
}

.get-it .call-to-action {
  margin-top: 1em;
  text-align: center;
}

