.button {
  appearance: none;
  border-radius: 0.25em;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0.5em 1em;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.button.suggested {
  background-color: #64b9f1;
  background-image: linear-gradient(
    to bottom,
    #4ca7e4,
    #328ecc
  );
  border: 1px solid rgba(0,0,0,.2);
  border-color: #337cac;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
    0 1px 0 0 rgba(255, 255, 255, 0.15);
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);

  &:focus {
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.05),
      inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
      inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
      0 3px 6px rgba(12, 128, 200, 0.16),
      0 3px 6px rgba(12, 128, 200, 0.23);
    text-decoration: none;
  }

  &:active {
    box-shadow:
      inset 0 0 0 1px rgba(0, 0, 0, 0.05),
      0 1px 0 0 rgba(255, 255, 255, 0.3);
  }
}
