.dialog {
  background-color: #fff;
  border-radius: 6px;
  box-shadow:
    0 10px 38px rgba(0, 0, 0, 0.30),
    0 8px 12px rgba(0, 0, 0, 0.22);
  left: 50%;
  max-width: 95vw;
  padding: 0 1em 1em;
  position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 540px;
  z-index: 2;

  .content {
    background-image: url("../appcenter.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 64px;
    padding-left: 76px;
  }

  h3 {
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 2em;
    margin-top: 0;
  }

  .action {
    display: flex;
    justify-content: flex-end;

    .button.suggested {
      margin-left: 0.5em;
    }
  }
}

.backdrop {
  background-color: white;
  content: "";
  display: block;
  height: 100vh;
  left: 0;
  margin: 0;
  opacity: 0.85;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.blur {
  filter: blur(10px);
}

.hidden {
  display: none;
}

