header {
  background-color: #485a6c;
  background-image: linear-gradient(
    to bottom right, 
    rgba(255, 255, 255, 0.05), 
    rgba(0, 0, 0, 0.05)
  );
  color: #fff;
  padding: 1em;
  text-align: center;
  
  @media (min-width: 720px) {
    text-align: left;
  }

  img.icon {
    vertical-align: middle;
    width: 64px;
  }

  h1 {
    display: inline;
    margin-left: 0.25em;
    margin-top: 0;
    vertical-align: middle;
  }

  p {
    display: inline;
    margin-left: 0.5em;
    vertical-align: sub;

    &::before {
      display: inline;
      content: "by ";
    }
  }

  .badge {
    display: block;
    margin-top: 0.5em;
    
    @media (min-width: 720px) {
      float: right;
    }
  }
}

