.home .app {
  font-weight: normal;
  margin: 1em 0.5em;
  text-align: center;
  vertical-align: top;
  width: 111px;

  img {
    display: block;
    height: 64px;
    margin: 0 auto 0.5em;
    width: 64px;
  }
}
