.home {
  h1 {
    color: #7239b3;
    font-family: Raleway, $ui-font;
    font-size: 3em;
    font-weight: 900;
  }

  &.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, 111px);
    // flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1000px;
    width: 95vw;

    .app {
      box-shadow:
        0px 6px 24px 0px rgba(0, 0, 0, 0),
        inset 0px 0px 0px 1px rgba(0, 0, 0, 0),
        inset 0px 1px 0px 1px rgba(255, 255, 255, 0);
      font-weight: normal;
      margin: 0.5em 0;
      padding: 1em 0.5em;
      text-align: left;
      transition: all 200ms ease;
      vertical-align: top;
      width: 111px;

      &:hover {
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.25),
          rgba(255, 255, 255, 0.125)
        );
        box-shadow:
          0px 6px 24px 0px rgba(0, 0, 0, 0.1),
          inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25),
          inset 0px 1px 0px 1px rgba(255, 255, 255, 0.25);
      }

      img {
        display: block;
        height: 64px;
        margin: 0 auto 0.5em;
        width: 64px;
      }

      .title {
        display: block;
        text-align: center;
      }

      .summary {
        display: none;
      }

      &.juno {
        opacity: 0.5;
      }
    }
  }

  .action {
    text-align: center;
  }
}

