---
layout: default
---

<header style="background-color: {{page.color.primary}}; color: {{page.color.primary-text}}">
  <div class="constrain">
    {% for icon in page.icons %}
      {% if icon[0] == "64@2" %}
        <img alt="icon" src="{{icon[1]}}" />
      {% endif %}
    {% endfor %}

    <h1>{{page.title}}</h1>
    <p>{{page.developer}}</p>
    <!--a href="appstream://{{page.slug}}.desktop">Install</a-->
  </div>
</header>

<div class="main">
  <section class="screenshots constrain">
    <div class="screenshotsview">
      {% for screenshot in page.screenshots %}
        <img alt="Screenshot" src="{{screenshot}}" />
      {% endfor %}
    </div>
    <div id="tns-nav" style="display:none">
      {% for screenshot in page.screenshots %}
      <span style="background-color: {{page.color.primary}};">&nbsp;</span>
      {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
    <script type="text/javascript">
      // Show nav if Js is supported
      document.querySelector("#tns-nav").style.display = "";
      tns({
        speed: 375,
        container: '.screenshotsview',
        autoplay: true,
        autoplayHoverPause: true,
        autoplayButtonOutput: false,
        controls: false,
        navContainer: "#tns-nav"
      });
    </script>
  </section>

  <section class="description constrain">
    <h2>{{page.summary}}</h2>
    {{content}}
  </section>
</div>

<footer>
  <div class="constrain">
    {% if page.homepage %}
      <a href="{{page.homepage}}" target="_blank">Homepage</a>
    {% endif %}
  </div>
</footer>
