---
layout: default
---

<header>
  <div class="constrain">
      {% if page.screenshots %}
        <img class="icon"
          {% for icon in page.icons %}
            {% if icon[0] == "64@2" %}
              srcset="{{icon[1]}} 2x"
            {% elsif icon[0] == "64" %}
              src="{{icon[1]}}"
            {% endif %}
          {% endfor %}
        alt="{{page.title}} icon" />
      {% else %}
        <img class="icon" src="https://cdn.rawgit.com/elementary/icons/c048cf1bdf9d7735638c1cfe1eea64831e46c83f/apps/64/application-default-icon.svg" alt="No icon" />
      {% endif %}

    <h1>{{page.title}}</h1>
    <p>{{page.developer}}</p>

    <a class="button suggested" href="https://elementary.io">Get elementary OS</a>

  </div>
</header>

<div class="main">
  {% include screenshots.html %}

  <section class="description constrain">
    <h2>{{page.summary}}</h2>

    {{content}}

    {% include juno.html %}
  </section>
</div>

<footer>
  <div class="constrain">
    {% if page.homepage %}
      <a class="button" href="{{page.homepage}}" target="_blank">App Homepage</a>
    {% endif %}
    {% if page.help_page %}
      <a class="button" href="{{page.help_page}}" target="_blank">App Help</a>
    {% endif %}
    <a class="button" href="https://elementary.io/" target="_blank">Get elementary OS</a>
  </div>
</footer>

<style>
  header {
    background-color: {% if page.color.primary != "((color_primary))" %}{{page.color.primary}}{% else %}{{site.color.primary}}{% endif %};
    color: {% if page.color.primary-text != "((color_text))" %}{{page.color.primary-text}}{% else %}{{site.color.primary-text}}{% endif %}
  }
</style>

{% include dialog.html %}

