---
layout: default
---

<header style="background-color: {{page.color.primary}}; color: {{page.color.primary-text}}">
  <div class="constrain">
    {% for icon in page.icons %}
      {% if icon[0] == "64@2" %}
        <img alt="icon" src="{{icon[1]}}" />
      {% endif %}
    {% endfor %}

    <h1>{{page.title}}</h1>
    <p>{{page.developer}}</p>
    <!--a href="appstream://{{page.slug}}.desktop">Install</a-->
  </div>
</header>

<div class="main">
  <section class="screenshots constrain">
    {% for screenshot in page.screenshots limit:1 %}
      <img alt="screenshot" src="{{screenshot}}" />
    {% endfor %}
  </section>

  <section class="description constrain">
    <h2>{{page.summary}}</h2>
    {{content}}
  </section>
</div>

<footer>
  <div class="constrain">
    {% if page.homepage %}
      <a href="{{page.homepage}}">Homepage</a>
    {% endif %}
  </div>
</footer>
