html,
body {
  margin: 0;
  padding: 0;
}

body {  
  text-align: center;
  font-family: "Open Sans", "Droid Sans", sans-serif;
}

header {
  margin: 0 auto;

  background-color: #603461;

  color: #fff;
  text-align: left;

  clear: both;
}

h1 {
  margin-top: 0.85em;
  margin-bottom: 0;
  font-family: "Raleway", "Open Sans", "Droid Sans", sans-serif;
  font-weight: 200;
  width: 100%;
}

h2 {
  width: 100%;
  margin: 0 auto;
  font-weight: 200;
  font-size: 1.25em;
}

.constrained {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

figure,
img {
  margin: 0 auto;
  max-width: 900px;
}

figure.icon {
  width: 128px;
  padding: 1em;
}

a.get-it {
  width: 164px;
  margin-top: 3em;
}

.description {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}
