---

name: Update Data

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *' # Hourly

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt update && sudo apt install ruby-nokogiri git

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: |
          ruby ./generate-loki.rb
          ruby ./generate-hera.rb
          ruby ./generate-odin.rb
          ruby ./generate-flatpak.rb

      - name: Commit
        run: |
          FILES_CHANGED=$(git diff --name-only | wc -l)
          if [[ $FILES_CHANGED != 0 ]]; then
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add -A
            git commit -m "Automatic update of data" -a
          fi

      - name: Push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
